/*Tablet*/
/*Mobile*/
html {
  font-size: 16px;
  line-height: 20px; }
  html .container-fluid {
    padding: 0; }
    html .container-fluid .row {
      margin: 0; }

.btn:focus, a:focus, .form-control:focus, textarea:focus {
  outline: none;
  box-shadow: none; }

a:focus, textarea:focus {
  border: none; }

.form-control:focus {
  border: 1px solid #FAFAFA; }

/* BACKGROUND */
.bg-black {
  background-color: #222f3e; }

/* BUTTONS */
.btn-yellow {
  background-color: #feca57; }

header .btn:active,
header textarea:active {
  border: 1px solid #ff9f43; }

@media screen and (max-width: 991px) {
  header #topMenu .navbar-brand {
    margin-left: 20%; } }

@media screen and (max-width: 634px) {
  header #topMenu .navbar-brand {
    margin-left: 8%; } }

@media screen and (max-width: 576px) {
  header #topMenu .navbar-brand {
    margin-left: 3%;
    width: 30%; }
    header #topMenu .navbar-brand img {
      width: 100%; } }

@media screen and (max-width: 425px) {
  header #topMenu .navbar-brand {
    margin-left: 8%;
    width: 40%; }
    header #topMenu .navbar-brand img {
      width: 100%; } }

@media screen and (max-width: 320px) {
  header #topMenu .navbar-brand {
    margin-left: 2%;
    width: 40%; }
    header #topMenu .navbar-brand img {
      width: 100%; } }

@media screen and (max-width: 425px) {
  header #topMenu .buttons-nav .nav-item {
    margin-right: 0 !important;
    font-size: 0.8rem; }
    header #topMenu .buttons-nav .nav-item:first-child {
      display: none; } }

header #topMenu .navbar-collapse button:hover {
  background-color: #ff9f43;
  color: #FAFAFA; }

@media screen and (max-width: 991px) {
  header #topMenu .navbar-collapse {
    flex-basis: 0; }
    header #topMenu .navbar-collapse .navbar-nav {
      display: inline-block; } }

@media screen and (max-width: 991px) {
  header #topMenu .navbar-toggler {
    background-color: #feca57; }
    header #topMenu .navbar-toggler .fa-bars {
      color: #222f3e; } }

@media screen and (min-width: 0) {
  header #topMenu {
    overflow: visible; } }

header #bottNav a {
  color: #feca57; }
  header #bottNav a:hover, header #bottNav a:active {
    color: #ff9f43; }

header #bottNav .dropdown:hover .dropdown-menu {
  display: block;
  background-color: #222f3e;
  border: 1px solid #222f3e; }
  header #bottNav .dropdown:hover .dropdown-menu a:hover {
    background-color: #222f3e; }

header #bottNav .form-inline {
  position: relative; }
  header #bottNav .form-inline button {
    position: absolute;
    right: 0.5rem; }
    header #bottNav .form-inline button:hover {
      background-color: #ff9f43;
      color: #FAFAFA; }

.header--pequenno {
  transition: padding 0.8s ease;
  padding: 1.35rem 0; }

.header--grande {
  transition: padding 0.8s ease;
  padding: 2.8rem 0; }
