footer {
  .container-fluid {
    background-color: $grey;

    a {
      color: $black;
      text-decoration: none;

      &:hover,
      &:active {
        color: $orange;
      }
    }

    .imagen-gov{
        img{
            width: 50%;

            @media screen and (min-width: $mobile-sm-lg) and (max-width: $tablet-md){
                width: 30%;
            }
        }
    }

    .fa-facebook-square{
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
  }
  .footer-copyright {
    background-color: $black;
    color: $white;
  }
}
