header {
  .btn,
  textarea {
    &:active {
      border: 0.0625rem solid $orange;
    }
  }

  #topMenu {
    .navbar-brand {
      @media screen and (max-width: $tablet-size) {
        margin-left: 20%;
      }

      @media screen and (max-width: $tablet-little) {
        margin-left: 8%;
      }

      @media screen and (max-width: $mobile-big) {
        margin-left: 3%;
        width: 30%;

        img {
          width: 100%;
        }
      }

      @media screen and (max-width: $mobile-mid) {
        margin-left: 8%;
        width: 40%;

        img {
          width: 100%;
        }
      }

      @media screen and (max-width: $mobile) {
        margin-left: 2%;
        width: 40%;

        img {
          width: 100%;
        }
      }
    }

    .buttons-nav {
      .nav-item {
        @media screen and (max-width: $mobile-mid) {
          margin-right: 0 !important;
          font-size: 0.8rem;

          &:first-child {
            display: none;
          }
        }
      }
    }

    .navbar-collapse {
      button {
        &:hover {
          background-color: $orange;
          color: $white;
        }
      }

      @media screen and (max-width: $tablet-size) {
        flex-basis: 0;

        .navbar-nav {
          display: inline-block;
        }
      }
    }

    @media screen and (max-width: $tablet-size) {
      .navbar-toggler {
        background-color: $yellow;

        .fa-bars {
          color: $black;
        }
      }
    }

    @media screen and (min-width: $mobile-little) {
      overflow: visible;
    }
  }

  #bottNav {
    a {
      color: $yellow;

      &:hover,
      &:active {
        color: $orange;
      }
    }

    .dropdown {
      .dropdown-menu {
        &.show {
          background-color: $black !important;
        }
      }

      &:hover {
        .dropdown-menu {
          display: block;

          background-color: $black !important;
          border: 0.0625rem solid $black;

          a {
            &:hover {
              background-color: $black;
            }
          }
        }
      }
    }

    .form-inline {
      position: relative;

      button {
        position: absolute;
        right: 0.5rem;

        &:hover {
          background-color: $orange;
          color: $white;
        }
      }
    }
  }
}

.header--pequenno {
  transition: padding 0.8s ease;
  padding: 1.35rem 0;
}
.header--grande {
  transition: padding 0.8s ease;
  padding: 2.8rem 0;
}
