//Desktop
$desktop-md: 1200px;
$desktop-sm: 992px;

//Tablet
$tablet-lg: 991px;
$tablet: 768px;
$tablet-md: 767px;
$tablet-sm: 634px;

//Mobile
$mobile-lg: 576px;
$mobile-md: 425px;
$mobile-sm:320px;
$mobile-sm-cero: 0; 