//Desktop
$desktop-md: 1200px;
$desktop-sm: 992px;

//Tablet
$tablet-size: 991px;
$tablet: 768px;
$tablet-mid: 767px;
$tablet-little: 634px;

//Mobile
$mobile-big: 576px;
$mobile-mid: 425px;
$mobile:320px;
$mobile-little: 0; 